.admin__login__input:-webkit-autofill,
.admin__login__input:-webkit-autofill:hover,
.admin__login__input:-webkit-autofill:focus,
.admin__login__input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #141F29 inset !important;
    -webkit-text-fill-color: #fff !important;
    transition: background-color 5000s ease-in-out 0s;
}
/* Add this to your global CSS */
